@font-face {
    font-family: Narrow;
    src: url(./PTSansNarrow-Regular.ttf);
  }
body {
    overscroll-behavior-y: contain;
    touch-action: manipulation;
}
body button, label.btn{
    border-radius: 0 !important;
}
div, .container {
    padding: 0;
}
#outputImg img {
    max-width: 100%;
    max-height: 100%;
}

/* ---- Nav Bar ---------*/
.nav {
    width: 100vw;
    max-width: 1000px;
    position: fixed;
    background-color: #fff;
    top: 1px;
    margin: 0;
    opacity: 1;
    z-index: 2;
}
.navBtn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFAB9D;
    color: #FFF;
    font-size: 48px;
    line-height: 72px;
    padding-left: 17px;
    cursor: pointer;
    box-shadow: -3px 5px 5px #ccc;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
    transition: 0.5s;
}
.navBtn:hover {
    transform: translateY(5px);
    transform: scale(1.2, 1.2);
    background-color: #fc8671;
    box-shadow: 0 2px #ccc;
}
.navBtn:before, .navBtn:after {
    position: absolute;
    left: 38px;
    top: 24px;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: #FFF;
}
.navBtn:after {
    transform: rotate(90deg);
}
.navBar {
    height: auto;
    padding: 50px;
    background-color: #FFF;
    border: 3px solid #FFAB9D;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    box-sizing: border-box;
    box-shadow: -3px 5px 5px #ccc;
    transition: 0.5s;
    opacity: 1;
}
/* ---- close Btn ---------*/
.closeBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #FFAB9D;
    box-sizing: border-box;
    color: #FFAB9D;
    font-size: 20px;
    line-height: 25px;
    padding-left: 5px;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 10px;
    right: 12px;
}
.closeBtn:hover {
    transform: scale(1.2, 1.2);
    background-color: #000;
}
.closeBtn:before, .closeBtn:after {
    position: absolute;
    left: 12px;
    top: 4px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #FFAB9D;
}
.closeBtn:before {
    transform: rotate(45deg);
}
.closeBtn:after {
    transform: rotate(-45deg);
}
#page {
    max-width: 1000px;
    /* min-height: 80vh; */
}
.minHeight {
    min-height: 90vh;
}
.outer {
    cursor: pointer;
    width: 100vw;
    max-width: 1000px;
    /* padding: 5% 5px 4% 10px; */
    padding: 3% 5px 1% 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: 0.3s;
    break-inside: avoid;
    /* margin-bottom: 5px; */
}
.btn.disabled {
    /* opacity: 0.4; */
    cursor: not-allowed !important;
}
.demo {
    /* width: 100vw;
    max-width: 1000px;
    height: ;
    background-image: url("demo.png"); */
    margin-top: -3%;
    opacity: 0.4;
}
.demo img {
    max-width: 100%;
    max-height: 100%;
}
.borderHoverChange:hover {
    border: 1px solid #ccc;
}
.borderCCC {
    border: 1px solid #ccc;
}
.noborder {
    cursor: auto;
    border: 0;
}
.noborder:hover {
    border: 0;
}
.mobileBorder {
    border: 1px solid rgba(255, 255, 255, 0);
}
.noborder:hover {
    border: 0;
}
.padding-space {
    height: 30px;
    width: auto;
}


.editing {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 1000px;
    box-shadow: 0 0 5px #ccc;
    z-index: 10;
    transition: 0.5s;
}
.editTitle {
    position: relative;
    width: 100%;
    background-color: #FFAB9D;
    padding: 10px 0 5px 3%;
}
/* .editTitle .closeBtn {
    border: 2px solid #FFF;
} */
.editTitle .closeBtn:before, .editTitle .closeBtn:after {
    background-color: #FFF;
  }
.editTitle h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}
.editInner {
    padding: 2% 6%;
    background-color: #FFF;
    border: 3px solid #FFAB9D;
    box-sizing: border-box;
}
.editInner small {
    color: #555;
}
.editPreview {
    padding: 15px 0;
    opacity: 0.6;
}
.editNotation {
    background-color: #EEE;
    padding: 5px;
}
#tempBeat {
    font-size: 60px;
}
.title {
    width: fit-content;
    padding: 0 15px;
    border-bottom: 2px solid #aaa;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 28px; */
    font-size: 32px;
    font-weight: 600;
}

/*  黑色色塊  */
.noteWrap {
    flex-shrink: 0;
}
.note {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 32px;
    text-align: center;
}
.ps {
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 20px;
}
.demoWarning {
    width: 100%;
    font-size: 16px;
    text-align: end; 
    opacity: 0.4; 
    margin-right: 10vw;
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*  節奏記譜  ------------------------------------- 節奏記譜  */
/*  樂器說明  */
.instrument {
    /* width: 18%; */
    width: 15%;
    max-width: 150px;
    /* padding-right: 15px; */
}
.instrument h2 {
    /* font-family: Narrow; */
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

/*  Djembe  */
.sound {
    width: 75vw;
    max-width: 722px;
    height: 5vw;
    max-height: 27px;
}
/* .sound div{
    
} */
.soundText {
    height: 100%;
    width: 5.7%;
    position: relative;
}
.soundText div{
    width: 100%;
    position: absolute;
    top: 0;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}
.doubleSound div{
    font-family: Narrow;
    letter-spacing: -1px;
}
.rollSound {
    margin-left: 25%;
    letter-spacing: 2px;
}

/*  Dum-Dum  */
.roundSound div {
    font-size: 28px;
}
.soundText .starSound {
    font-size: 38px;
}
.relative {
    position: relative;
}
.baz {
    position: absolute;
    z-index: 1;
    max-height: 27px;
    /* margin-top: -16px; */
    top: -13px;
}
.bazEdit {
    top: 0;
}

/*  節拍線繪製--------------------------------------節拍線繪製  */
/*  前半拍  */
.beatLines {
    /* height: 4.5vw; */
    /* max-height: 27px; */
    height: 27px;
    width: 75vw;
    max-width: 722px;
}
.onePre {
    /* margin-left: 5.48%; */
    /* margin-left: 5px; */
    width: 5.7%;
    height: 100%;
    margin-left: 3.1%;
}
.helfPre {
    width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
.preBeatLeft {
    box-sizing: border-box;
    border-right: 1px solid #777;
}
.preBeatRight {
    box-sizing: border-box;
    border-left: 1px solid #777;
}

/*  一拍  */
.oneBeat {
    width: 22.8%;
    height: 100%;
}
.blank {
    margin: 0;
    padding: 0;
    width: 12.5%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
.leftBlank {
    box-sizing: border-box;
    border-right: 1px solid #777;
}
.rightBlank {
    box-sizing: border-box;
    border-left: 1px solid #777;
}
.beat {
    width: 25%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-top: 2px solid #777;
    border-right: 1px solid #777;
    border-left: 1px solid #777;
    box-sizing: border-box;
}

/* for 三拍子 */
.triBeat .soundText{
    width: 7.45%;
}
.triBeatLine .oneBeat{
    width: 22.35%;
}
.triBeatLine .onePre{
    width: 7.45%;
} 
.triBeatLine .oneBeat .beat {
    width: 33.3%;
}
.blank.triBlank{
    width: 16.67%;
}
/* -------Repeat Mark------------ */
.repeatMark {
    height: 150%;
}
.repeatLine {
    position: absolute;
    height: 100%;
    width: 10px;
    border: 1px solid darkred;
    border-left: 0;
    top: 10%;
    left: 10px;
    z-index: 1;
}
.repeatNumber {
    position: absolute;
    top: 10%;
    left: 15px;
    color: darkred;
    font-size: 20px;
    font-weight: 600;
}
.repeatTogether .repeatLine{
    height: 400%;
}
.repeatTogether .repeatNumber {
    top: 40%;
}
.operatorBox {
    width: 100%;
    margin-top: 15px;
}


.red-border {
    border: 1px solid #fc8671;
}
.red-border:hover {
    border: 1px solid #fc8671;
}
.display {
    display: none;
}
.displayOff {
    display: inherit;
}
.disappear {
    max-height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0s;
    /* border-color: rgba(255, 255, 255, 0); */
    box-sizing: border-box;
}
.active {
    max-height: 1200px;
    padding: 20px;
    transition: 0.5s;
    opacity: 1;
}
.opacity0 {
    opacity: 0;
}
.opacity1 {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
    }
    .title {
        font-size: 20px;
    }
    .navBtn {
        width: 60px;
        height: 60px;
        line-height: 52px;
        padding-left: 7px;
        top: 5px;
        right: 5px;
    }
    .navBtn:before, .navBtn:after {
        left: 28px;
        top: 15px;
    }
    .outer {
        flex-wrap: wrap;
        padding: 2% 5px 1% 10px;
    }
    .borderHoverChange:hover {
        border: 1px solid rgba(255, 255, 255, 0);
    }
    #page {
        max-width: 200vw;
    }
    .note{
        font-size: 12px;
        padding: 1px 10px;
        margin: 0;
    }
    .ps {
        font-size: 16px;
        margin: 0;
    }
    .demoWarning {
        padding-right: 15px;
        font-size: 12px;
    }
    .instrument {
        max-width: 100px;
        font-family: Narrow;
        /* padding-right: 5px; */
    }
    .instrument h2 {
        font-size: 13px;
        font-weight: 600;
        line-height: 14px;
    }
    .soundText {
        margin-top: 0;
    }
    .soundText div{
        font-size: 16px;
        line-height: 16px;
        /* top: -2px; */
        font-weight: 400;
    }
    .doubleSound div{
        font-size: 16px;
        font-family: Narrow;
        letter-spacing: 0;
        margin-left: -2px;
    }
    .rollSound {
        margin-left: 10%;
        letter-spacing: 0;
    }
    .roundSound div {
        font-size: 14px;
    }
    .soundText .starSound {
        font-size: 17px;
    }
    .baz {
        top: -8px;
    }
    .bazEdit {
        top: 10px;
    }
    .onePre {
        margin-left: 5px;
    }
    .beatLines {
        height: 14px;
    }
    .disappear {
        max-height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0s;
        border: 0;
    }
    .active {
        max-height: 1200px;
        padding: 20px;
        transition: 0.5s;
        opacity: 1;
    }
    .repeatLine {
        width: 6px;
        left: 0;
    }
    .repeatNumber {
        font-size: 14px;
        left: 8px;
        font-weight: 400;
        font-family: 'Arial Narrow';
        letter-spacing: 0;
        top: 0;
    }
    .editing {
        max-height: 85vh;
        overflow: scroll;
    }
    .disappear {
        max-height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0s;
        border: 0;
    }
    .active {
        max-height: 1200px;
        padding: 20px;
        transition: 0.5s;
        opacity: 1;
    }
    .opacity0 {
        opacity: 0;
    }
    .opacity1 {
        opacity: 1;
    }
}
@media screen and (min-width:601px) and (max-width: 990px) {
    .container {
        margin: 0;
    }
    .ps {
        font-size: 18px;
    }
    .navBar {
        height: auto;
        padding: 50px;
        max-height: 90vh;
        overflow: scroll;
    }
    .outer {
        padding: 3% 5px 5% 10px;
    }
    .borderHoverChange:hover {
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .title {
        font-size: 24px;
    }
    .instrument h2 {
        font-size: 20px;
    }
    .soundText div{
        font-size: 28px;
        margin-top: -4px;
        /* font-weight: 400; */
    }
    .doubleSound div{
        font-size: 28px;
        font-family: Narrow;
        letter-spacing: 0;
        margin-left: -3px;
    }
    .rollSound {
        margin-left: 10%;
        letter-spacing: -1px;
    }
    .roundSound div {
        font-size: 26px;
    }
    .soundText .starSound {
        font-size: 32px;
    }
    .editing {
        max-height: 85vh;
        overflow: scroll;
    }
    .disappear {
        max-height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0s;
        border: 0;
    }
    .active {
        max-height: 1200px;
        padding: 20px;
        transition: 0.5s;
        opacity: 1;
    }
    .opacity0 {
        opacity: 0;
    }
    .opacity1 {
        opacity: 1;
    }
    
}
@media print {
    * {
      -webkit-print-color-adjust: exact !important;
    }
    .hidden-print {
        display: none !important;
    }
    /* .hidden-print:hover {
        display: none !important;
    }
    .border-print {
        border: 1px solid #fff !important;
    }
    .border-print:hover {
        border: 1px solid #fff !important;
    } */
  }