<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drum Notation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="all.css">
</head>
<body>
    <div id="app">
        <div class="container">
    <!---- nav ---------->
            <div class="row nav">
                <div class="navBtn" :class="{ disappear : isEditing }" @click="openNav">＋</div>
                <div class="col-10 col-sm-5 col-md-4 col-lg-3 navBar" :class="{ disappear : isNavClose }">
                    <!-- <div class="col-10 col-sm-5 col-md-4 col-lg-3 navBar"> -->
                    <div class="closeBtn" @click="closeNav">✕</div>
                    <button type="button" class="btn btn-outline-dark btn-block" @click="addBeats('djembe')"> + Djembe </button>
                    <button type="button" class="btn btn-outline-dark btn-block mt-3" @click="addBeats('dum-dum')"> + Dum-Dum </button>
                    <button type="button" class="btn btn-outline-dark btn-block mt-3" @click="addBeats('note')"> + 段落說明 </button>
                    <button type="button" class="btn btn-outline-info btn-block mt-5" @click="output" :class="{ disappear : drumList.length == 0 }"> 完成編輯，匯出 </button>
                </div>              
            </div>
        <div id="page">
        <!---- 標題 ---------->
            <div class="outer borderHoverChange d-flex justify-content-center disappear" style="transition: 0s;" @click="editTitle" :class="{ active : titleShowing}">
                <div class="title">{{title}}</div>
            </div>
            <div class="outer borderHoverChange d-flex justify-content-center red-border disappear" style="transition: 0s;" :class="{ active : titleEditing}">
                <div class="d-flex">
                    <input type="text" value="基本伴奏" v-model="tempTitle" maxlength="30" placeholder="請輸入標題"
                        style="font-size: 20px; padding: 5px 20px;"></input>
                    <button type="button" class="btn btn-outline-dark ml-3" @click="cancelTitleChange">取消</button>
                    <button type="button" class="btn btn-outline-info ml-2" @click="submitNewTitle">確定修改</button>
                </div>
            </div>
        <!-- 主要鼓譜 -->
            <div class="d-flex outer borderHoverChange" v-for="(item, index) in drumList" @click="clickBeat(index)" :class="{ noborder : isOutputing }">
                <!-- <div class="d-flex"> -->
            <!--- Note ----->
                <div class="d-flex" v-if="item.type === 'note'" style="width: 100%;">
                    <div class="noteWrap">
                        <div class="note" :class="{ disappear :  !item.title }">{{item.title}}</div>
                    </div>
                    <div class="psWrap flex-grow-1">
                        <div class="ps">{{item.note}}</div>
                    </div>
                </div>
            <!--- 小節標題 ----->
                <div class="instrument d-flex align-items-center" v-else="item.type !== 'note'">
                    <h2>{{item.title}}</h2> 
                </div>
                <!--- Djembe ----->
                    <div class="relative" v-if="item.type === 'djembe'">
                        <div class="d-flex beatLines">
                            <div class="d-flex onePre">
                                <div class="helfPre preBeatLeft opacity0" :class="{ opacity1 : item.preBeat}"></div>
                                <div class="helfPre preBeatRight opacity0" :class="{ opacity1 : item.preBeat}"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                        <!-- Repeat -->
                            <div class="repeatMark relative" v-if="item.repeat">
                                <div class="repeatLine">
                                    <div class="repeatNumber">×{{item.repeat}}</div>
                                </div>
                            </div>
                        </div> <!-- beatLines End -->
                    <!-- SoundText -->
                        <div class="sound d-flex">
                            <div class="onePre soundText" v-if="item.preBeat"><div>{{ item.preBeat }}</div></div>
                            <div class="onePre soundText" v-else><div>&ensp;</div></div>
                            <div class="soundText" v-for="i in item.beat" :class="{ doubleSound : i==='❲SS❳' }">
                                <div :class="{ rollSound : i==='TT' }">{{ i==='-' ? '&ensp;' : i }}</div>
                            </div>
                        </div>
                    </div>
                <!--- DumDum ----->
                    <div class="relative" v-if="item.type === 'dum-dum'">
                        <!-- <div class="relative"> -->
                            <div class="sound baz d-flex">
                                <div class="onePre" v-if="item.preBaz">{{ item.preBaz }}</div>
                                <div class="onePre" v-else>&ensp;</div>
                                <div v-for="i in item.baz">{{ i==='-' ? '&ensp;' : '&#10005;' }}</div> 
                            </div>
                            <div class="d-flex beatLines">
                                <div class="d-flex onePre">
                                    <div class="helfPre preBeatLeft"></div>
                                    <div class="helfPre preBeatRight"></div>
                                </div>
                                <div class="d-flex oneBeat">
                                    <div class="blank leftBlank"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="blank rightBlank"></div>
                                </div>
                                <div class="d-flex oneBeat">
                                    <div class="blank leftBlank"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="blank rightBlank"></div>
                                </div>
                                <div class="d-flex oneBeat">
                                    <div class="blank leftBlank"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="blank rightBlank"></div>
                                </div>
                                <div class="d-flex oneBeat">
                                    <div class="blank leftBlank"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="beat"></div>
                                    <div class="blank rightBlank"></div>
                                </div>
                            <!-- Repeat -->
                                <div class="repeatMark relative" v-if="item.repeat">
                                    <div class="repeatLine">
                                        <div class="repeatNumber">×2</div>
                                    </div>
                                </div>
                            </div>
                        <!-- SoundText -->
                            <div class="sound symbol d-flex">
                                <div class="onePre" v-if="item.beat">{{ item.preBaz }}</div>
                                <div class="onePre" v-else>&ensp;</div>
                                <div v-for="i in item.beat">{{ i==='-' ? '&ensp;' : i }}</div>
                            </div>  
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
            <!--- 小節操作按鈕 ----->
                <div class="d-flex justify-content-center disappear" :ref="'drumBeat'+index">
                    <!-- <button type="button" class="btn btn-outline-dark":class="{ disabled : index === 0 }">上移</button>
                    <button type="button" class="btn btn-outline-dark ml-3 mr-5" :class="{ disabled : index === drumList.length-1 }">下移</button> -->
                    <button type="button" class="btn btn-outline-dark ml-3" @click="editBeats(index)">編輯</button>
                    <button type="button" class="btn btn-outline-danger ml-2" :class="{ disabled : isEditing } "  @click="deleteBeats(index)">刪除</button>
                </div>
            </div>
        </div> <!-- page 結束 -->


        <!-- 無資料時的Demo畫面 -->
        <!-- <div class="outer" style="padding: 0;" v-if="noData">
            <div class="demoWarning">※ 本網頁尚未支援存檔功能，編輯完成請記得「匯出」</div>
        </div> -->
        <div class="d-flex outer demo" v-for="(item, key) in demoDrum" :key="item.title" v-if="noData">
            <div class="d-flex" v-if="item.type === 'note'" style="width: 100%;">
                <div class="noteWrap">
                    <div class="note" :class="{ disappear :  !item.title }">{{item.title}}</div>
                </div>
                <div class="psWrap flex-grow-1">
                    <div class="ps">{{item.note}}</div>
                </div>
            </div>
        <!--- 小節標題 ----->
            <div class="instrument d-flex align-items-center" v-else="item.type !== 'note'">
                <h2>{{item.title}}</h2> 
            </div>
            <!--- Djembe ----->
            <div class="relative" v-if="item.type === 'djembe'">
                <!-- <div > -->
                    <div class="d-flex beatLines">
                        <div class="d-flex onePre">
                            <div class="helfPre preBeatLeft opacity0" :class="{ opacity1 : item.preBeat}"></div>
                            <div class="helfPre preBeatRight opacity0" :class="{ opacity1 : item.preBeat}"></div>
                        </div>
                        <div class="d-flex oneBeat">
                            <div class="blank leftBlank"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="blank rightBlank"></div>
                        </div>
                        <div class="d-flex oneBeat">
                            <div class="blank leftBlank"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="blank rightBlank"></div>
                        </div>
                        <div class="d-flex oneBeat">
                            <div class="blank leftBlank"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="blank rightBlank"></div>
                        </div>
                        <div class="d-flex oneBeat">
                            <div class="blank leftBlank"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="beat"></div>
                            <div class="blank rightBlank"></div>
                        </div>
                     <!-- Repeat -->
                        <div class="repeatMark relative" v-if="item.repeat">
                            <div class="repeatLine">
                                <div class="repeatNumber">×{{item.repeat}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Sound -->
                    <div class="sound d-flex">
                        <div class="onePre soundText" v-if="item.preBeat"><div>{{ item.preBeat }}</div></div>
                        <div class="onePre soundText" v-else><div>&ensp;</div></div>
                        <div class="soundText" v-for="i in item.beat" :class="{ doubleSound : i==='❲SS❳' }">
                            <div :class="{ rollSound : i==='TT' }">{{ i==='-' ? '&ensp;' : i }}</div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <!-- Note 編輯 -->
        <div class="editing" :class="{ disappear: noteEditClosed }">
            <div class="editTitle">
                <div class="closeBtn closeEditBtn" @click="cancel">✕</div>
                <h3 class="" v-if="isNew">新增標註</h3>
                <h3 class="" v-else>修改標註</h3>
            </div>
            <div class="editInner">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <small>段落標註</small>
                        <input type="text" class="form-control" placeholder="請輸入段落標註" v-model="tempDrum.title" maxlength="20">
                    </div>
                    <div class="form-group col-md-8">
                        <small>段落標註快速輸入</small>
                        <div class="d-flex">
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('基本節奏')">基本節奏</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('連拍')">連拍</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Break')">Break</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Call')">Call</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <small>說明文字 ( 可留白 )</small>
                        <input type="text" class="form-control" placeholder="請輸入說明文字" v-model="tempDrum.note" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-3 pb-2">
                <button type="button" class="btn btn-secondary mr-2" @click="cancel">取消</button>
                <button type="button" class="btn btn-info" v-if="isNew" @click="submitNew">確定新增</button>
                <button type="button" class="btn btn-info" v-else @click="submitPatch">確定修改</button>
            </div>
        </div>

    <!-- Djembe 編輯器 -->
        <div class="editing" :class="{ disappear: djembeEditClosed }">
            <div class="editTitle">
                <div class="closeBtn closeEditBtn" @click="cancel">✕</div>
                <h3 class="" v-if="isNew">新增 Djembe 小節</h3>
                <h3 class="" v-else>修改 Djembe 小節</h3>
            </div>
            <div class="editInner">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <small>小節標題</small>
                        <input type="text" class="form-control" id="djembe" placeholder="請輸入小節標題" v-model="tempDrum.title" maxlength="20">
                    </div>
                    <div class="form-group col-md-8">
                        <small>標題快速輸入</small>
                        <div class="d-flex">
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Djembe')">Djembe</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Djembe 1')">Djembe 1</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Djembe 2')">Djembe 2</button>
                        </div>
                    </div>
                </div>

                <div><small>Djembe 鼓譜 (請使用按鈕編輯)</small></div>
                <div class="editNotation">
                    <div class="d-flex">
                        <div class="custom-control custom-checkbox m-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="addPre" @change="checkPre">
                            <label class="custom-control-label" for="customCheck1">加上前半拍</label>
                        </div>
                        <div class="custom-control custom-checkbox m-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" v-model="addRepeat" @change="checkRepeat">
                            <label class="custom-control-label" for="customCheck2">本節需重複</label>
                        </div>
                    </div>
                    <!-- 標示 -->
                    <div class="relative editPreview">
                        <div class="d-flex beatLines">
                            <div class="d-flex onePre">
                                <div class="helfPre preBeatLeft opacity0" :class="{ opacity1 : tempDrum.preBeat}"></div>
                                <div class="helfPre preBeatRight opacity0" :class="{ opacity1 : tempDrum.preBeat}"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <!-- Repeat -->
                            <div class="repeatMark relative" v-if="tempDrum.repeat">
                                <div class="repeatLine">
                                    <div class="repeatNumber">×{{tempDrum.repeat}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Sound -->
                        <div class="sound d-flex">
                            <div class="onePre soundText" v-if="tempDrum.preBeat"><div>{{ tempDrum.preBeat==='-' ? '&ensp;' : tempDrum.preBeat }}</div></div>
                            <div class="onePre soundText" v-else><div>&ensp;</div></div>
                            <div class="soundText" v-for="i in tempDrum.beat" :class="{ doubleSound : i==='❲SS❳' }">
                                <!-- <div :class="{ rollSound : i==='TT' }">{{ i==='-' ? '&ensp;' : i }}</div> -->
                                <div :class="{ rollSound : i==='TT' }">{{i}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center flex-wrap">
                        <div class="mr-3" style="width: 200px;">
                            <small>新增按鈕 ( - 號代表空拍)</small>
                            <div class="pt-1">
                                <div class="d-flex">
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('B')">B</button>
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('T')">T</button>
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('S')">S</button>
                                    <button type="button" class="btn btn-outline-dark pl-3 pr-3" @click="insertBeat('-')">-</button>
                                </div>
                                <div class="d-flex pt-2">
                                    <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="insertBeat('ᵀT')">ᵀT</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="insertBeat('TT')">TT</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="insertBeat('❲SS❳')">❲SS❳</button>
                                </div>
                            </div>
                        </div>
                        <div class="mr-3" style="width: 200px;">
                            <small>刪除按鈕</small><small v-if="tempDrum.repeat"> / 重複次數增減</small>
                            <div class="d-flex pt-1">
                                <button type="button" class="btn btn-outline-danger mr-2" @click="backWardBeat()">🡸</button>
                                <button type="button" class="btn btn-outline-danger mr-2" @click="clearBeat()">清空</button>
                            </div>
                            <div class="d-flex pt-2" v-if="tempDrum.repeat">
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" @click="changeRepeatTimes('+')">✚</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" @click="changeRepeatTimes('-')">⚊</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center pt-3 pb-2">
                    <button type="button" class="btn btn-secondary mr-2" @click="cancel">取消</button>
                    <button type="button" class="btn btn-info" v-if="isNew" @click="submitNew">確定新增</button>
                    <button type="button" class="btn btn-info" v-else @click="submitPatch">確定修改</button>
                </div>  
            </div>

            
        </div>

    <!-- DumDum 編輯器 -->
        <div class="editing" :class="{ disappear: dumdumEditClosed }">
            <div class="editTitle">
                <div class="closeBtn closeEditBtn" @click="cancel">✕</div>
                <h3 class="" v-if="isNew">新增 Dum-Dum 小節</h3>
                <h3 class="" v-else>修改 Dum-Dum 小節</h3>
            </div>
            <div class="editInner">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <small>小節標題</small>
                        <input type="text" class="form-control" placeholder="請輸入小節標題" v-model="tempDrum.title" maxlength="20">
                    </div>
                    <div class="form-group col-md-8">
                        <small>標題快速輸入</small>
                        <div class="d-flex">
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Sangban')">Sangban</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Dununba')">Dununba</button>
                            <button type="button" class="btn btn-sm btn-outline-dark mr-2" @click="quickInsert('Kenkeni')">Kenkeni</button>
                            <button type="button" class="btn btn-sm btn-outline-dark" @click="quickInsert('Sangban+ Dununba +Kenkeni')">All Same</button>
                        </div>
                    </div>
                </div>

                <div><small>Dum-Dum 鼓譜 (請使用按鈕編輯)</small></div>
                <div class="editNotation">
                    <div class="d-flex">
                        <div class="custom-control custom-checkbox m-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="addPre" @change="checkPre">
                            <label class="custom-control-label" for="customCheck1">加上前半拍</label>
                        </div>
                        <div class="custom-control custom-checkbox m-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" v-model="addRepeat" @change="checkRepeat">
                            <label class="custom-control-label" for="customCheck2">本節需重複</label>
                        </div>
                    </div>
                    <!-- 標示 -->
                    <div class="relative editPreview">
                        <div class="d-flex beatLines">
                            <div class="d-flex onePre">
                                <div class="helfPre preBeatLeft opacity0" :class="{ opacity1 : tempDrum.preBeat}"></div>
                                <div class="helfPre preBeatRight opacity0" :class="{ opacity1 : tempDrum.preBeat}"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <div class="d-flex oneBeat">
                                <div class="blank leftBlank"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="beat"></div>
                                <div class="blank rightBlank"></div>
                            </div>
                            <!-- Repeat -->
                            <div class="repeatMark relative" v-if="tempDrum.repeat">
                                <div class="repeatLine">
                                    <div class="repeatNumber">×{{tempDrum.repeat}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Sound -->
                        <div class="sound d-flex">
                            <div class="onePre soundText" v-if="tempDrum.preBeat"><div>{{ tempDrum.preBeat==='-' ? '&ensp;' : tempDrum.preBeat }}</div></div>
                            <div class="onePre soundText" v-else><div>&ensp;</div></div>
                            <div class="soundText" v-for="i in tempDrum.beat" :class="{ doubleSound : i==='❲SS❳' }">
                                <!-- <div :class="{ rollSound : i==='TT' }">{{ i==='-' ? '&ensp;' : i }}</div> -->
                                <div :class="{ rollSound : i==='TT' }">{{i}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center flex-wrap">
                        <div class="mr-3" style="width: 250px;">
                            <small>編輯按鈕 ( - 號代表空拍)</small>
                            <div class="pt-1">
                                <div class="d-flex">
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBaz('✕')">✕</button>
                                    <button type="button" class="btn btn-outline-dark mr-2 pl-3 pr-3" @click="insertBaz('-')">-</button>
                                    <button type="button" class="btn btn-outline-danger mr-2" @click="backWardBaz()">🡸</button>
                                </div>
                                <div class="d-flex pt-2">
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('⬤')">⬤</button>
                                    <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('△')">△</button>
                                    <button type="button" class="btn btn-outline-dark mr-2 pl-3 pr-3" @click="insertBeat('✩')">✩</button>
                                    <button type="button" class="btn btn-outline-dark mr-2 pl-3 pr-3" @click="insertBeat('-')">-</button>
                                    <button type="button" class="btn btn-outline-danger mr-2" @click="backWardBeat()">🡸</button>
                                </div>
                            </div>
                        </div>
                        <div class="mr-3" style="width: 250px;">
                            <small>全部清空</small><small v-if="tempDrum.repeat"> / 重複次數增減</small>
                            <div class="d-flex pt-1">
                                <button type="button" class="btn btn-outline-danger mr-2" @click="clearBeat()">清空</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" v-if="tempDrum.repeat" @click="changeRepeatTimes('+')">✚</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" v-if="tempDrum.repeat" @click="changeRepeatTimes('-')">⚊</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center pt-3 pb-2">
                    <button type="button" class="btn btn-secondary mr-2" @click="cancel">取消</button>
                    <button type="button" class="btn btn-info" v-if="isNew" @click="submitNew">確定新增</button>
                    <button type="button" class="btn btn-info" v-else @click="submitPatch">確定修改</button>
                </div>
            </div>     
        </div>

         <!-- Dum-Dum 編輯 -->
        <!-- <div class="outer editing disappear" :class="{ active: dumdumEditing }">
            <h2 class="mt-3 mb-5" style="color: #aaa; text-align: center;" v-if="isNew">新增 Dum-Dum 小節</h2>
            <h2 class="mt-3 mb-5" style="color: #aaa; text-align: center;" v-else>修改 Dum-Dum 小節</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="dumdum">小節標題</label>
                    <input type="text" class="form-control" id="dumdum" placeholder="請輸入小節標題" v-model="tempDrum.title" maxlength="20"
                        style="font-size:24px; font-weight:500; color: #000;">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputEmail4">快速輸入</label>
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-dark mr-2" @click="quickInsert('Sangban')">Sangban</button>
                        <button type="button" class="btn btn-outline-dark mr-2" @click="quickInsert('Dununba')">Dununba</button>
                        <button type="button" class="btn btn-outline-dark mr-2" @click="quickInsert('Kenkeni')">Kenkeni</button>
                        <button type="button" class="btn btn-outline-dark" @click="quickInsert('Sangban+ Dununba +Kenkeni')">Sangban+ Dununba+ Kenkeni</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="inputPassword4">Dum-Dum 鼓譜 ( - 號代表空拍)</label>
                    <input type="text" class="form-control" id="tempBeat" disabled :Value="tempBaz" maxlength="16" placeholder="請使用按鈕輸入"
                        style="font-size:24px; letter-spacing: 5px; font-family: monospace; font-variant-numeric: tabular-nums;">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputEmail4">請使用按鈕輸入</label>
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('✕')">✕</button>
                        <button type="button" class="btn btn-outline-dark pl-3 pr-3" @click="insertBeat('-')">-</button>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputEmail4">刪除按鈕</label>
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-outline-danger mr-2" @click="backWardBeat('baz')">←</button>
                        <button type="button" class="btn btn-outline-danger mr-2" @click="clearBeat('baz')">清空</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <input type="text" class="form-control" id="tempBaz" disabled :Value="tempBeat" maxlength="16" placeholder="請使用按鈕輸入"
                    style="font-size:24px; letter-spacing: 5px; font-family: monospace; font-variant-numeric: tabular-nums;">
                </div>
                <div class="form-group col-md-3">
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('⬤')">⬤</button>
                        <button type="button" class="btn btn-outline-dark mr-2" @click="insertBeat('△')">△</button>
                        <button type="button" class="btn btn-outline-dark pl-3 pr-3" @click="insertBeat('✩')">✩</button>
                        <button type="button" class="btn btn-outline-dark pl-3 pr-3" @click="insertBeat('-')">-</button>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-outline-danger mr-2" @click="backWardBeat('beat')">←</button>
                        <button type="button" class="btn btn-outline-danger mr-2" @click="clearBeat('beat')">清空</button>
                    </div>
                </div>
            </div>  
            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-outline-dark mr-3" @click="cancel">取消</button>
                <button type="button" class="btn btn-outline-info mr-4" v-if="isNew" @click="submitNew">確定新增</button>
                <button type="button" class="btn btn-outline-info mr-4" v-else @click="submitPatch">確定修改</button>
            </div>
        </div> -->
        
        
        <!-- <div class="d-flex justify-content-between outer borderCCC hidden-print" :class="{ disappear : isEditing }" style="transition: 0s;">
            <div>
                <button type="button" class="btn btn-outline-dark" @click="saving"> 匯入 / 存檔 </button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark ml-5 mr-2" @click="addBeats('djembe')"> + Djembe </button>
                <button type="button" class="btn btn-outline-dark mr-2" @click="addBeats('dum-dum')"> + Dum-Dum </button>
                <button type="button" class="btn btn-outline-dark mr-2" @click="addBeats('note')"> + 段落說明 </button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-info" @click="output" :class="{ disappear : drumList.length == 0 }"> 完成編輯，匯出 </button>
            </div>
        </div> -->
        <div class="outer borderCCC editing hidden-print disappear" :class="{ active : isOutputing }" style="transition: 0s;">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark mr-5" @click="offOutput"> 取消匯出，繼續編輯 </button>
                <!-- <button type="button" class="btn btn-outline-info ml-5" @click="print"> 匯出圖片 </button> -->
                <button type="button" class="btn btn-outline-info ml-2" @click="printPdf"> 匯出PDF </button>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <small>欲匯出PDF，請點選按鈕後，在列印視窗的「目的地」選擇「另存成PDF」</small>
            </div>
        </div>
        <!-- <div class="outer borderCCC editing hidden-print" :class="{ active : isSaving }" style="transition: 0s;">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-info mr-3 ml-5" @click="clickDownload"> 下載編輯資料 </button>
                <div>
                    <h5>匯入檔案</h5>
                    <input type="file" id="fileToLoad"  tabindex="-1" data-input="false" @change="read">  
                </div> 
            </div>
        </div> -->
    </div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script> 
<script src="https://unpkg.com/html2canvas@1.0.0-rc.5/dist/html2canvas.js"></script>  -->

    <script src="all.js"></script>
</body>
</html>